### Series

In [1]:
import pandas as pd

In [2]:
prices = pd.Series([100,140,150,60,90])

In [3]:
type(prices)

pandas.core.series.Series

In [4]:
prices.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
prices = pd.Series([100,140,150,60,90], index=['p1','p2','p3','p4','p5'])

In [6]:
prices.index

Index(['p1', 'p2', 'p3', 'p4', 'p5'], dtype='object')

In [7]:
prices.values

array([100, 140, 150,  60,  90], dtype=int64)

In [8]:
s1 = pd.Series([100,'Abc',200])

In [9]:
s1.values

array([100, 'Abc', 200], dtype=object)

In [29]:
s1.loc[0], s1.iloc[0]

(100, 100)

In [10]:
prices.mean()

108.0

In [11]:
# Not possible 
# s1.mean()

In [27]:
prices.loc['p3']

150

In [28]:
prices.iloc[0]

100

In [31]:
prices.head(3)

p1    100
p2    140
p3    150
dtype: int64

In [32]:
prices.tail(3)

p3    150
p4     60
p5     90
dtype: int64

In [33]:
prices.is_unique

True

In [39]:
summary = prices.agg(['average','sum','min','max'])

In [40]:
summary

average    108.0
sum        540.0
min         60.0
max        150.0
dtype: float64

In [41]:
type(summary)

pandas.core.series.Series

In [42]:
prices.describe()

count      5.000000
mean     108.000000
std       37.013511
min       60.000000
25%       90.000000
50%      100.000000
75%      140.000000
max      150.000000
dtype: float64

In [43]:
sales = pd.Series([20,35,45])

In [44]:
sales.cumsum()

0     20
1     55
2    100
dtype: int64

In [45]:
sales.pct_change()

0         NaN
1    0.750000
2    0.285714
dtype: float64

#### Using apply() function

In [46]:
def classify_price(price):
    return 'High' if price > 100 else 'Low'

prices.apply(classify_price)

p1     Low
p2    High
p3    High
p4     Low
p5     Low
dtype: object

In [50]:
# Using lambda
prices.apply(lambda price : f"{price:5d} - ({'High' if price > 100 else 'Low'})")

p1       100 - (Low)
p2      140 - (High)
p3      150 - (High)
p4        60 - (Low)
p5        90 - (Low)
dtype: object

In [53]:
prices.sort_values(ascending=False).head(3)

p3    150
p2    140
p1    100
dtype: int64

In [56]:
print(prices)
prices.rank()

p1    100
p2    140
p3    150
p4     60
p5     90
dtype: int64

p1    3.0
p2    4.0
p3    5.0
p4    1.0
p5    2.0
dtype: float64

In [57]:
langs = pd.Series(['Java','Python','Python','Java','C#'], index=[101,102,103,104,105])

In [58]:
langs

101      Java
102    Python
103    Python
104      Java
105        C#
dtype: object

In [61]:
uv = langs.unique()

In [62]:
type(uv)

numpy.ndarray

In [63]:
langs.value_counts()

Java      2
Python    2
C#        1
dtype: int64

In [65]:
langs.mode()[0]

'Java'