In [1]:
import pandas as pd
import requests
resp = requests.get("https://restcountries.eu/rest/v2/all")
cdf = pd.read_json(resp.text)

In [2]:
cdf.loc [cdf['population'] > 100000000 , ['name','population'] ]

                         name  population
18                 Bangladesh   161006790
31                     Brazil   206135893
48                      China  1377422166
104                     India  1295210000
105                 Indonesia   258705000
114                     Japan   126960000
144                    Mexico   122273473
162                   Nigeria   186988000
169                  Pakistan   194125062
176               Philippines   103279800
185        Russian Federation   146599183
239  United States of America   323947000

In [3]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [4]:
cdf.nlargest(5,'population')

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
48,CN,CHN,"[CN, Zhōngguó, Zhongguo, Zhonghua, People's Re...",9640011.0,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...",[86],Beijing,CHN,"[{'code': 'CNY', 'name': 'Chinese yuan', 'symb...",Chinese,...,China,中国,156.0,1377422166,Asia,[],Eastern Asia,[UTC+08:00],[.cn],"{'de': 'China', 'es': 'China', 'fr': 'Chine', ..."
104,IN,IND,"[IN, Bhārat, Republic of India, Bharat Ganrajya]",3287590.0,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]",[91],New Delhi,IND,"[{'code': 'INR', 'name': 'Indian rupee', 'symb...",Indian,...,India,भारत,356.0,1295210000,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+05:30],[.in],"{'de': 'Indien', 'es': 'India', 'fr': 'Inde', ..."
239,US,USA,"[US, USA, United States of America]",9629091.0,"[CAN, MEX]",[1],"Washington, D.C.",USA,"[{'code': 'USD', 'name': 'United States dollar...",American,...,United States of America,United States,840.0,323947000,Americas,"[{'acronym': 'NAFTA', 'name': 'North American ...",Northern America,"[UTC-12:00, UTC-11:00, UTC-10:00, UTC-09:00, U...",[.us],"{'de': 'Vereinigte Staaten von Amerika', 'es':..."
105,ID,IDN,"[ID, Republic of Indonesia, Republik Indonesia]",1904569.0,"[TLS, MYS, PNG]",[62],Jakarta,INA,"[{'code': 'IDR', 'name': 'Indonesian rupiah', ...",Indonesian,...,Indonesia,Indonesia,360.0,258705000,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,"[UTC+07:00, UTC+08:00, UTC+09:00]",[.id],"{'de': 'Indonesien', 'es': 'Indonesia', 'fr': ..."
31,BR,BRA,"[BR, Brasil, Federative Republic of Brazil, Re...",8515767.0,"[ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, ...",[55],Brasília,BRA,"[{'code': 'BRL', 'name': 'Brazilian real', 'sy...",Brazilian,...,Brazil,Brasil,76.0,206135893,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,"[UTC-05:00, UTC-04:00, UTC-03:00, UTC-02:00]",[.br],"{'de': 'Brasilien', 'es': 'Brasil', 'fr': 'Bré..."

In [5]:
def has_currency(cl,code):
    for d in cl:
        if d['code'] == code:
            return True
    else:
        return False

In [6]:
cdf['currencies'].head()

0    [{'code': 'AFN', 'name': 'Afghan afghani', 'sy...
1     [{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]
2    [{'code': 'ALL', 'name': 'Albanian lek', 'symb...
3    [{'code': 'DZD', 'name': 'Algerian dinar', 'sy...
4    [{'code': 'USD', 'name': 'United State Dollar'...
Name: currencies, dtype: object

In [7]:
def has_usd(cl):
    for d in cl:
        if d['code'] == 'USD':
            return True
    else:
        return False

In [8]:
cdf.loc[cdf['currencies'].apply(has_usd), ['name','currencies']]

,name,currencies
4,American Samoa,"[{'code': 'USD', 'name': 'United State Dollar'..."
27,"Bonaire, Sint Eustatius and Saba","[{'code': 'USD', 'name': 'United States dollar..."
32,British Indian Ocean Territory,"[{'code': 'USD', 'name': 'United States dollar..."
33,United States Minor Outlying Islands,"[{'code': 'USD', 'name': 'United States Dollar..."
34,Virgin Islands (British),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
35,Virgin Islands (U.S.),"[{'code': 'USD', 'name': 'United States dollar..."
40,Cambodia,"[{'code': 'KHR', 'name': 'Cambodian riel', 'sy..."
66,Ecuador,"[{'code': 'USD', 'name': 'United States dollar..."
68,El Salvador,"[{'code': 'USD', 'name': 'United States dollar..."
91,Guam,"[{'code': 'USD', 'name': 'United States dollar..."
139,Marshall Islands,"[{'code': 'USD', 'name': 'United States dollar..."
145,Micronesia (Federated States of),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
166,Northern Mariana Islands,"[{'code': 'USD', 'name': 'United States dollar..."
170,Palau,"[{'code': '(none)', 'name': '[E]', 'symbol': '..."
172,Panama,"[{'code': 'PAB', 'name': 'Panamanian balboa', ..."
180,Puerto Rico,"[{'code': 'USD', 'name': 'United States dollar..."
225,Timor-Leste,"[{'code': 'USD', 'name': 'United States dollar..."
233,Turks and Caicos Islands,"[{'code': 'USD', 'name': 'United States dollar..."
239,United States of America,"[{'code': 'USD', 'name': 'United States dollar..."
249,Zimbabwe,"[{'code': 'BWP', 'name': 'Botswana pula', 'sym..."

In [9]:
cdf.head()['borders']

0         [IRN, PAK, TKM, UZB, TJK, CHN]
1                                     []
2                   [MNE, GRC, MKD, KOS]
3    [TUN, LBY, NER, ESH, MRT, MLI, MAR]
4                                     []
Name: borders, dtype: object

In [10]:
def share_border_with_ind(lst):
     return 'IND' in lst

In [11]:
#cdf.loc[cdf['borders'].apply(share_border_with_ind), ['name','borders']]
cdf.loc[cdf['borders'].apply( lambda lst : 'IND' in lst), ['name','borders']]

           name                                            borders
18   Bangladesh                                         [MMR, IND]
25       Bhutan                                         [CHN, IND]
48        China  [AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...
153     Myanmar                          [BGD, CHN, IND, LAO, THA]
156       Nepal                                         [CHN, IND]
169    Pakistan                               [AFG, CHN, IND, IRN]
213   Sri Lanka                                              [IND]

In [12]:
cdf.index

RangeIndex(start=0, stop=250, step=1)

In [13]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [17]:
cdf.set_index('alpha3Code').loc['IND',:]

alpha2Code                                                       IN
altSpellings       [IN, Bhārat, Republic of India, Bharat Ganrajya]
area                                                    3.28759e+06
borders                    [AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]
callingCodes                                                   [91]
capital                                                   New Delhi
cioc                                                            IND
currencies        [{'code': 'INR', 'name': 'Indian rupee', 'symb...
demonym                                                      Indian
flag                          https://restcountries.eu/data/ind.svg
gini                                                           33.4
languages         [{'iso639_1': 'hi', 'iso639_2': 'hin', 'name':...
latlng                                                 [20.0, 77.0]
name                                                          India
nativeName                                                     भारत
numericCode                                                     356
population                                               1295210000
region                                                         Asia
regionalBlocs     [{'acronym': 'SAARC', 'name': 'South Asian Ass...
subregion                                             Southern Asia
timezones                                               [UTC+05:30]
topLevelDomain                                                [.in]
translations      {'de': 'Indien', 'es': 'India', 'fr': 'Inde', ...
Name: IND, dtype: object