In [1]:
import pandas as pd
import requests
resp = requests.get("https://restcountries.eu/rest/v2/all")
cdf = pd.read_json(resp.text)

In [2]:
cdf.loc [cdf['population'] > 100000000 , ['name','population'] ]

                         name  population
18                 Bangladesh   161006790
31                     Brazil   206135893
48                      China  1377422166
104                     India  1295210000
105                 Indonesia   258705000
114                     Japan   126960000
144                    Mexico   122273473
162                   Nigeria   186988000
169                  Pakistan   194125062
176               Philippines   103279800
185        Russian Federation   146599183
239  United States of America   323947000

In [3]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [4]:
cdf.nlargest(5,'population')

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
48,CN,CHN,"[CN, Zhōngguó, Zhongguo, Zhonghua, People's Re...",9640011.0,"[AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...",[86],Beijing,CHN,"[{'code': 'CNY', 'name': 'Chinese yuan', 'symb...",Chinese,...,China,中国,156.0,1377422166,Asia,[],Eastern Asia,[UTC+08:00],[.cn],"{'de': 'China', 'es': 'China', 'fr': 'Chine', ..."
104,IN,IND,"[IN, Bhārat, Republic of India, Bharat Ganrajya]",3287590.0,"[AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]",[91],New Delhi,IND,"[{'code': 'INR', 'name': 'Indian rupee', 'symb...",Indian,...,India,भारत,356.0,1295210000,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+05:30],[.in],"{'de': 'Indien', 'es': 'India', 'fr': 'Inde', ..."
239,US,USA,"[US, USA, United States of America]",9629091.0,"[CAN, MEX]",[1],"Washington, D.C.",USA,"[{'code': 'USD', 'name': 'United States dollar...",American,...,United States of America,United States,840.0,323947000,Americas,"[{'acronym': 'NAFTA', 'name': 'North American ...",Northern America,"[UTC-12:00, UTC-11:00, UTC-10:00, UTC-09:00, U...",[.us],"{'de': 'Vereinigte Staaten von Amerika', 'es':..."
105,ID,IDN,"[ID, Republic of Indonesia, Republik Indonesia]",1904569.0,"[TLS, MYS, PNG]",[62],Jakarta,INA,"[{'code': 'IDR', 'name': 'Indonesian rupiah', ...",Indonesian,...,Indonesia,Indonesia,360.0,258705000,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,"[UTC+07:00, UTC+08:00, UTC+09:00]",[.id],"{'de': 'Indonesien', 'es': 'Indonesia', 'fr': ..."
31,BR,BRA,"[BR, Brasil, Federative Republic of Brazil, Re...",8515767.0,"[ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, ...",[55],Brasília,BRA,"[{'code': 'BRL', 'name': 'Brazilian real', 'sy...",Brazilian,...,Brazil,Brasil,76.0,206135893,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,"[UTC-05:00, UTC-04:00, UTC-03:00, UTC-02:00]",[.br],"{'de': 'Brasilien', 'es': 'Brasil', 'fr': 'Bré..."

In [5]:
def has_currency(cl,code):
    for d in cl:
        if d['code'] == code:
            return True
    else:
        return False

In [6]:
cdf['currencies'].head()

0    [{'code': 'AFN', 'name': 'Afghan afghani', 'sy...
1     [{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]
2    [{'code': 'ALL', 'name': 'Albanian lek', 'symb...
3    [{'code': 'DZD', 'name': 'Algerian dinar', 'sy...
4    [{'code': 'USD', 'name': 'United State Dollar'...
Name: currencies, dtype: object

In [7]:
def has_usd(cl):
    for d in cl:
        if d['code'] == 'USD':
            return True
    else:
        return False

In [8]:
cdf.loc[cdf['currencies'].apply(has_usd), ['name','currencies']]

,name,currencies
4,American Samoa,"[{'code': 'USD', 'name': 'United State Dollar'..."
27,"Bonaire, Sint Eustatius and Saba","[{'code': 'USD', 'name': 'United States dollar..."
32,British Indian Ocean Territory,"[{'code': 'USD', 'name': 'United States dollar..."
33,United States Minor Outlying Islands,"[{'code': 'USD', 'name': 'United States Dollar..."
34,Virgin Islands (British),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
35,Virgin Islands (U.S.),"[{'code': 'USD', 'name': 'United States dollar..."
40,Cambodia,"[{'code': 'KHR', 'name': 'Cambodian riel', 'sy..."
66,Ecuador,"[{'code': 'USD', 'name': 'United States dollar..."
68,El Salvador,"[{'code': 'USD', 'name': 'United States dollar..."
91,Guam,"[{'code': 'USD', 'name': 'United States dollar..."
139,Marshall Islands,"[{'code': 'USD', 'name': 'United States dollar..."
145,Micronesia (Federated States of),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
166,Northern Mariana Islands,"[{'code': 'USD', 'name': 'United States dollar..."
170,Palau,"[{'code': '(none)', 'name': '[E]', 'symbol': '..."
172,Panama,"[{'code': 'PAB', 'name': 'Panamanian balboa', ..."
180,Puerto Rico,"[{'code': 'USD', 'name': 'United States dollar..."
225,Timor-Leste,"[{'code': 'USD', 'name': 'United States dollar..."
233,Turks and Caicos Islands,"[{'code': 'USD', 'name': 'United States dollar..."
239,United States of America,"[{'code': 'USD', 'name': 'United States dollar..."
249,Zimbabwe,"[{'code': 'BWP', 'name': 'Botswana pula', 'sym..."

In [9]:
cdf.head()['borders']

0         [IRN, PAK, TKM, UZB, TJK, CHN]
1                                     []
2                   [MNE, GRC, MKD, KOS]
3    [TUN, LBY, NER, ESH, MRT, MLI, MAR]
4                                     []
Name: borders, dtype: object

In [10]:
def share_border_with_ind(lst):
     return 'IND' in lst

In [11]:
#cdf.loc[cdf['borders'].apply(share_border_with_ind), ['name','borders']]
cdf.loc[cdf['borders'].apply( lambda lst : 'IND' in lst), ['name','borders']]

           name                                            borders
18   Bangladesh                                         [MMR, IND]
25       Bhutan                                         [CHN, IND]
48        China  [AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, ...
153     Myanmar                          [BGD, CHN, IND, LAO, THA]
156       Nepal                                         [CHN, IND]
169    Pakistan                               [AFG, CHN, IND, IRN]
213   Sri Lanka                                              [IND]

In [12]:
cdf.index

RangeIndex(start=0, stop=250, step=1)

In [13]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [17]:
cdf.set_index('alpha3Code').loc['IND',:]

alpha2Code                                                       IN
altSpellings       [IN, Bhārat, Republic of India, Bharat Ganrajya]
area                                                    3.28759e+06
borders                    [AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA]
callingCodes                                                   [91]
capital                                                   New Delhi
cioc                                                            IND
currencies        [{'code': 'INR', 'name': 'Indian rupee', 'symb...
demonym                                                      Indian
flag                          https://restcountries.eu/data/ind.svg
gini                                                           33.4
languages         [{'iso639_1': 'hi', 'iso639_2': 'hin', 'name':...
latlng                                                 [20.0, 77.0]
name                                                          India
nativeName                                                     भारत
numericCode                                                     356
population                                               1295210000
region                                                         Asia
regionalBlocs     [{'acronym': 'SAARC', 'name': 'South Asian Ass...
subregion                                             Southern Asia
timezones                                               [UTC+05:30]
topLevelDomain                                                [.in]
translations      {'de': 'Indien', 'es': 'India', 'fr': 'Inde', ...
Name: IND, dtype: object

### 10-Apr-2019 assignments

In [2]:
cdf['borders'].apply(lambda v : ",".join(v))

0              IRN,PAK,TKM,UZB,TJK,CHN
1
2                      MNE,GRC,MKD,KOS
3          TUN,LBY,NER,ESH,MRT,MLI,MAR
4
5                              FRA,ESP
6                      COG,COD,ZMB,NAM
7
8
9
10                 BOL,BRA,CHL,PRY,URY
11                     AZE,GEO,IRN,TUR
12
13
14     CZE,DEU,HUN,ITA,LIE,SVK,SVN,CHE
15                 ARM,GEO,IRN,RUS,TUR
16
17
18                             MMR,IND
19
20                 LVA,LTU,POL,RUS,UKR
21                     FRA,DEU,LUX,NLD
22                             GTM,MEX
23                     BFA,NER,NGA,TGO
24
25                             CHN,IND
26                 ARG,BRA,CHL,PRY,PER
27
28                         HRV,MNE,SRB
29                     NAM,ZAF,ZMB,ZWE
                    ...
220                IRQ,ISR,JOR,LBN,TUR
221
222                    AFG,CHN,KGZ,UZB
223    BDI,COD,KEN,MWI,MOZ,RWA,UGA,ZMB
224                    MMR,KHM,LAO,MYS
225                                IDN
226                        BEN,BFA,GHA
227
228
229
230                            DZA,LBY
231    ARM,AZE,BGR,GEO,GRC,IRN,IRQ,SYR
232                    AFG,IRN,KAZ,UZB
233
234
235                COD,KEN,RWA,SSD,TZA
236        BLR,HUN,MDA,POL,ROU,RUS,SVK
237                            OMN,SAU
238                                IRL
239                            CAN,MEX
240                            ARG,BRA
241                AFG,KAZ,KGZ,TJK,TKM
242
243                        BRA,COL,GUY
244                        KHM,CHN,LAO
245
246                        DZA,MRT,MAR
247                            OMN,SAU
248    AGO,BWA,COD,MWI,MOZ,NAM,TZA,ZWE
249                    BWA,MOZ,ZAF,ZMB
Name: borders, Length: 250, dtype: object

In [3]:
def get_codes(lst):
    cl = []
    for c in lst:
        if 'code' in c and c['code'] is not None:
            cl.append(c['code'])
            
    return ",".join(cl)

In [4]:
cdf['currencies'].apply(get_codes)

0                                         AFN
1                                         EUR
2                                         ALL
3                                         DZD
4                                         USD
5                                         EUR
6                                         AOA
7                                         XCD
8                                     AUD,GBP
9                                         XCD
10                                        ARS
11                                        AMD
12                                        AWG
13                                        AUD
14                                        EUR
15                                        AZN
16                                        BSD
17                                        BHD
18                                        BDT
19                                        BBD
20                                    BYN,BYR
21                                        EUR
22                                        BZD
23                                        XOF
24                                        BMD
25                                    BTN,INR
26                                        BOB
27                                        USD
28                                        BAM
29                                        BWP
                        ...
220                                       SYP
221                                       TWD
222                                       TJS
223                                       TZS
224                                       THB
225                                       USD
226                                       XOF
227                                       NZD
228                                       TOP
229                                       TTD
230                                       TND
231                                       TRY
232                                       TMT
233                                       USD
234                                AUD,TVD[G]
235                                       UGX
236                                       UAH
237                                       AED
238                                       GBP
239                                       USD
240                                       UYU
241                                       UZS
242                                       VUV
243                                       VEF
244                                       VND
245                                       XPF
246                                   MAD,DZD
247                                       YER
248                                       ZMW
249    BWP,GBP,CNY,EUR,INR,JPY,ZAR,USD,(none)
Name: currencies, Length: 250, dtype: object

In [6]:
cdf.loc[cdf['borders'].apply(lambda v : len(v) == 0), ['name','region']]

                                             name    region
1                                   Åland Islands    Europe
4                                  American Samoa   Oceania
7                                        Anguilla  Americas
8                                      Antarctica     Polar
9                             Antigua and Barbuda  Americas
12                                          Aruba  Americas
13                                      Australia   Oceania
16                                        Bahamas  Americas
17                                        Bahrain      Asia
19                                       Barbados  Americas
24                                        Bermuda  Americas
27               Bonaire, Sint Eustatius and Saba  Americas
30                                  Bouvet Island
32                 British Indian Ocean Territory    Africa
33           United States Minor Outlying Islands  Americas
34                       Virgin Islands (British)  Americas
35                          Virgin Islands (U.S.)  Americas
43                                     Cabo Verde    Africa
44                                 Cayman Islands  Americas
49                               Christmas Island   Oceania
50                        Cocos (Keeling) Islands   Oceania
52                                        Comoros    Africa
55                                   Cook Islands   Oceania
58                                           Cuba  Americas
59                                        Curaçao  Americas
64                                       Dominica  Americas
73                    Falkland Islands (Malvinas)  Americas
74                                  Faroe Islands    Europe
75                                           Fiji   Oceania
79                               French Polynesia   Oceania
..                                            ...       ...
159                                   New Zealand   Oceania
163                                          Niue   Oceania
164                                Norfolk Island   Oceania
166                      Northern Mariana Islands   Oceania
170                                         Palau   Oceania
176                                   Philippines      Asia
177                                      Pitcairn   Oceania
180                                   Puerto Rico  Americas
183                                       Réunion    Africa
187                              Saint Barthélemy  Americas
188  Saint Helena, Ascension and Tristan da Cunha    Africa
189                         Saint Kitts and Nevis  Americas
190                                   Saint Lucia  Americas
192                     Saint Pierre and Miquelon  Americas
193              Saint Vincent and the Grenadines  Americas
194                                         Samoa   Oceania
196                         Sao Tome and Principe    Africa
200                                    Seychelles    Africa
202                                     Singapore      Asia
206                               Solomon Islands   Oceania
209  South Georgia and the South Sandwich Islands  Americas
216                        Svalbard and Jan Mayen    Europe
221                                        Taiwan      Asia
227                                       Tokelau   Oceania
228                                         Tonga   Oceania
229                           Trinidad and Tobago  Americas
233                      Turks and Caicos Islands  Americas
234                                        Tuvalu   Oceania
242                                       Vanuatu   Oceania
245                             Wallis and Futuna   Oceania

[84 rows x 2 columns]

In [8]:
cdf.loc[cdf['currencies'].apply( lambda v : len(v) > 1) , ['name','currencies']]

,name,currencies
8,Antarctica,"[{'code': 'AUD', 'name': 'Australian dollar', ..."
20,Belarus,"[{'code': 'BYN', 'name': 'New Belarusian ruble..."
25,Bhutan,"[{'code': 'BTN', 'name': 'Bhutanese ngultrum',..."
34,Virgin Islands (British),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
36,Brunei Darussalam,"[{'code': 'BND', 'name': 'Brunei dollar', 'sym..."
40,Cambodia,"[{'code': 'KHR', 'name': 'Cambodian riel', 'sy..."
55,Cook Islands,"[{'code': 'NZD', 'name': 'New Zealand dollar',..."
58,Cuba,"[{'code': 'CUC', 'name': 'Cuban convertible pe..."
74,Faroe Islands,"[{'code': 'DKK', 'name': 'Danish krone', 'symb..."
93,Guernsey,"[{'code': 'GBP', 'name': 'British pound', 'sym..."
110,Isle of Man,"[{'code': 'GBP', 'name': 'British pound', 'sym..."
115,Jersey,"[{'code': 'GBP', 'name': 'British pound', 'sym..."
119,Kiribati,"[{'code': 'AUD', 'name': 'Australian dollar', ..."
125,Lesotho,"[{'code': 'LSL', 'name': 'Lesotho loti', 'symb..."
145,Micronesia (Federated States of),"[{'code': None, 'name': '[D]', 'symbol': '$'},..."
154,Namibia,"[{'code': 'NAD', 'name': 'Namibian dollar', 's..."
155,Nauru,"[{'code': 'AUD', 'name': 'Australian dollar', ..."
163,Niue,"[{'code': 'NZD', 'name': 'New Zealand dollar',..."
170,Palau,"[{'code': '(none)', 'name': '[E]', 'symbol': '..."
172,Panama,"[{'code': 'PAB', 'name': 'Panamanian balboa', ..."
177,Pitcairn,"[{'code': 'NZD', 'name': 'New Zealand dollar',..."
202,Singapore,"[{'code': 'BND', 'name': 'Brunei dollar', 'sym..."
209,South Georgia and the South Sandwich Islands,"[{'code': 'GBP', 'name': 'British pound', 'sym..."
225,Timor-Leste,"[{'code': 'USD', 'name': 'United States dollar..."
234,Tuvalu,"[{'code': 'AUD', 'name': 'Australian dollar', ..."
246,Western Sahara,"[{'code': 'MAD', 'name': 'Moroccan dirham', 's..."
249,Zimbabwe,"[{'code': 'BWP', 'name': 'Botswana pula', 'sym..."

In [12]:
cdf[cdf['region'] == 'Asia'].nlargest(5,'population')[['name','population']]

           name  population
48        China  1377422166
104       India  1295210000
105   Indonesia   258705000
169    Pakistan   194125062
18   Bangladesh   161006790

In [14]:
ind_area = cdf.loc[ cdf['alpha3Code'] == 'IND', 'area'].iloc[0]
pak_area = cdf.loc[ cdf['alpha3Code'] == 'PAK', 'area'].iloc[0]
cdf [(cdf['area'] > pak_area)  & ( cdf['area'] < ind_area)] [ ['name','area']]

                                   name       area
3                               Algeria  2381741.0
6                                Angola  1246700.0
10                            Argentina  2780400.0
26     Bolivia (Plurinational State of)  1098581.0
46                                 Chad  1284000.0
51                             Colombia  1141748.0
54   Congo (Democratic Republic of the)  2344858.0
67                                Egypt  1002450.0
72                             Ethiopia  1104300.0
88                            Greenland  2166086.0
105                           Indonesia  1904569.0
107          Iran (Islamic Republic of)  1648195.0
117                          Kazakhstan  2724900.0
127                               Libya  1759540.0
137                                Mali  1240192.0
141                          Mauritania  1030700.0
144                              Mexico  1964375.0
148                            Mongolia  1564110.0
161                               Niger  1267000.0
162                             Nigeria   923768.0
175                                Peru  1285216.0
197                        Saudi Arabia  2149690.0
208                        South Africa  1221037.0
214                               Sudan  1886068.0
223        Tanzania, United Republic of   945087.0
243  Venezuela (Bolivarian Republic of)   916445.0

In [16]:
cdf['name'].str.len()

0      11
1      13
2       7
3       7
4      14
5       7
6       6
7       8
8      10
9      19
10      9
11      7
12      5
13      9
14      7
15     10
16      7
17      7
18     10
19      8
20      7
21      7
22      6
23      5
24      7
25      6
26     32
27     32
28     22
29      8
       ..
220    20
221     6
222    10
223    28
224     8
225    11
226     4
227     7
228     5
229    19
230     7
231     6
232    12
233    24
234     6
235     6
236     7
237    20
238    52
239    24
240     7
241    10
242     7
243    34
244     8
245    17
246    14
247     5
248     6
249     8
Name: name, Length: 250, dtype: int64

In [17]:
cdf [(cdf['name'].str.len() > 20) & (cdf['capital'].str.len() < 20)][['name','capital']]

                                                  name            capital
26                    Bolivia (Plurinational State of)              Sucre
27                    Bonaire, Sint Eustatius and Saba         Kralendijk
28                              Bosnia and Herzegovina           Sarajevo
32                      British Indian Ocean Territory       Diego Garcia
33                United States Minor Outlying Islands
34                            Virgin Islands (British)          Road Town
35                               Virgin Islands (U.S.)   Charlotte Amalie
45                            Central African Republic             Bangui
50                             Cocos (Keeling) Islands        West Island
54                  Congo (Democratic Republic of the)           Kinshasa
73                         Falkland Islands (Malvinas)            Stanley
80                         French Southern Territories  Port-aux-Français
98                   Heard Island and McDonald Islands
107                         Iran (Islamic Republic of)             Tehran
122                   Lao People's Democratic Republic          Vientiane
132        Macedonia (the former Yugoslav Republic of)             Skopje
145                   Micronesia (Federated States of)            Palikir
146                              Moldova (Republic of)           Chișinău
165            Korea (Democratic People's Republic of)          Pyongyang
166                           Northern Mariana Islands             Saipan
188       Saint Helena, Ascension and Tristan da Cunha          Jamestown
189                              Saint Kitts and Nevis         Basseterre
191                         Saint Martin (French part)            Marigot
192                          Saint Pierre and Miquelon       Saint-Pierre
193                   Saint Vincent and the Grenadines          Kingstown
196                              Sao Tome and Principe           São Tomé
203                          Sint Maarten (Dutch part)        Philipsburg
209       South Georgia and the South Sandwich Islands  King Edward Point
216                             Svalbard and Jan Mayen       Longyearbyen
223                       Tanzania, United Republic of             Dodoma
233                           Turks and Caicos Islands      Cockburn Town
238  United Kingdom of Great Britain and Northern I...             London
239                           United States of America   Washington, D.C.
243                 Venezuela (Bolivarian Republic of)            Caracas

In [18]:
cdf.loc[cdf['name'].str.startswith("I"),['name','capital']]

                           name    capital
103                     Iceland  Reykjavík
104                       India  New Delhi
105                   Indonesia    Jakarta
107  Iran (Islamic Republic of)     Tehran
108                        Iraq    Baghdad
109                     Ireland     Dublin
110                 Isle of Man    Douglas
111                      Israel  Jerusalem
112                       Italy       Rome

In [27]:
cdf.loc[cdf['alpha2Code'] != cdf['alpha3Code'].str[0:2],['alpha2Code','alpha3Code','name']]

    alpha2Code alpha3Code                                          name
1           AX        ALA                                 Åland Islands
5           AD        AND                                       Andorra
6           AO        AGO                                        Angola
8           AQ        ATA                                    Antarctica
9           AG        ATG                           Antigua and Barbuda
11          AM        ARM                                       Armenia
12          AW        ABW                                         Aruba
14          AT        AUT                                       Austria
16          BS        BHS                                       Bahamas
18          BD        BGD                                    Bangladesh
19          BB        BRB                                      Barbados
20          BY        BLR                                       Belarus
22          BZ        BLZ                                        Belize
23          BJ        BEN                                         Benin
27          BQ        BES              Bonaire, Sint Eustatius and Saba
28          BA        BIH                        Bosnia and Herzegovina
36          BN        BRN                             Brunei Darussalam
39          BI        BDI                                       Burundi
43          CV        CPV                                    Cabo Verde
44          KY        CYM                                Cayman Islands
45          CF        CAF                      Central African Republic
46          TD        TCD                                          Chad
47          CL        CHL                                         Chile
48          CN        CHN                                         China
52          KM        COM                                       Comoros
53          CG        COG                                         Congo
54          CD        COD            Congo (Democratic Republic of the)
55          CK        COK                                  Cook Islands
59          CW        CUW                                       Curaçao
62          DK        DNK                                       Denmark
..         ...        ...                                           ...
169         PK        PAK                                      Pakistan
170         PW        PLW                                         Palau
173         PG        PNG                              Papua New Guinea
174         PY        PRY                                      Paraguay
177         PN        PCN                                      Pitcairn
178         PL        POL                                        Poland
179         PT        PRT                                      Portugal
182         XK        KOS                            Republic of Kosovo
191         MF        MAF                    Saint Martin (French part)
192         PM        SPM                     Saint Pierre and Miquelon
198         SN        SEN                                       Senegal
199         RS        SRB                                        Serbia
200         SC        SYC                                    Seychelles
204         SK        SVK                                      Slovakia
205         SI        SVN                                      Slovenia
206         SB        SLB                               Solomon Islands
209         GS        SGS  South Georgia and the South Sandwich Islands
210         KR        KOR                           Korea (Republic of)
215         SR        SUR                                      Suriname
217         SZ        SWZ                                     Swaziland
218         SE        SWE                                        Sweden
230         TN        TUN                                       Tunisia
231         TR        TUR                                        Turkey
232         TM        TKM                                  Turkmenistan
234         TV        TUV                                        Tuvalu
236         UA        UKR                                       Ukraine
237         AE        ARE                          United Arab Emirates
240         UY        URY                                       Uruguay
245         WF        WLF                             Wallis and Futuna
246         EH        ESH                                Western Sahara

[94 rows x 3 columns]

In [28]:
cdf['MainCurrency'] = cdf['currencies'].apply(lambda v: v[0]['code'])

In [34]:
cdf.loc[cdf['MainCurrency'].str.len() > 3, ['name','MainCurrency']]

      name MainCurrency
170  Palau       (none)

In [35]:
cdf.iloc[170]

alpha2Code                                                       PW
alpha3Code                                                      PLW
altSpellings              [PW, Republic of Palau, Beluu er a Belau]
area                                                            459
borders                                                          []
callingCodes                                                  [680]
capital                                                   Ngerulmud
cioc                                                            PLW
currencies        [{'code': '(none)', 'name': '[E]', 'symbol': '...
demonym                                                     Palauan
flag                          https://restcountries.eu/data/plw.svg
gini                                                            NaN
languages         [{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...
latlng                                                 [7.5, 134.5]
name                                                          Palau
nativeName                                                    Palau
numericCode                                                     585
population                                                    17950
region                                                      Oceania
regionalBlocs                                                    []
subregion                                                Micronesia
timezones                                               [UTC+09:00]
topLevelDomain                                                [.pw]
translations      {'de': 'Palau', 'es': 'Palau', 'fr': 'Palaos',...
MainCurrency                                                 (none)
Name: 170, dtype: object

In [36]:
cdf['NoBorders'] = cdf['borders'].apply(lambda v : len(v))

In [38]:
cdf[cdf['NoBorders'] == 0]

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations,MainCurrency,NoBorders
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.00,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,248.0,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'...",EUR,0
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.00,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,16.0,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer...",USD,0
7,AI,AIA,[AI],91.00,[],[1264],The Valley,,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Anguillian,...,660.0,13452,Americas,[],Caribbean,[UTC-04:00],[.ai],"{'de': 'Anguilla', 'es': 'Anguilla', 'fr': 'An...",XCD,0
8,AQ,ATA,[],14000000.00,[],[672],,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",,...,10.0,1000,Polar,[],,"[UTC-03:00, UTC+03:00, UTC+05:00, UTC+06:00, U...",[.aq],"{'de': 'Antarktika', 'es': 'Antártida', 'fr': ...",AUD,0
9,AG,ATG,[AG],442.00,[],[1268],Saint John's,ANT,"[{'code': 'XCD', 'name': 'East Caribbean dolla...","Antiguan, Barbudan",...,28.0,86295,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.ag],"{'de': 'Antigua und Barbuda', 'es': 'Antigua y...",XCD,0
12,AW,ABW,[AW],180.00,[],[297],Oranjestad,ARU,"[{'code': 'AWG', 'name': 'Aruban florin', 'sym...",Aruban,...,533.0,107394,Americas,[],Caribbean,[UTC-04:00],[.aw],"{'de': 'Aruba', 'es': 'Aruba', 'fr': 'Aruba', ...",AWG,0
13,AU,AUS,[AU],7692024.00,[],[61],Canberra,AUS,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Australian,...,36.0,24117360,Oceania,[],Australia and New Zealand,"[UTC+05:00, UTC+06:30, UTC+07:00, UTC+08:00, U...",[.au],"{'de': 'Australien', 'es': 'Australia', 'fr': ...",AUD,0
16,BS,BHS,"[BS, Commonwealth of the Bahamas]",13943.00,[],[1242],Nassau,BAH,"[{'code': 'BSD', 'name': 'Bahamian dollar', 's...",Bahamian,...,44.0,378040,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-05:00],[.bs],"{'de': 'Bahamas', 'es': 'Bahamas', 'fr': 'Baha...",BSD,0
17,BH,BHR,"[BH, Kingdom of Bahrain, Mamlakat al-Baḥrayn]",765.00,[],[973],Manama,BRN,"[{'code': 'BHD', 'name': 'Bahraini dinar', 'sy...",Bahraini,...,48.0,1404900,Asia,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",Western Asia,[UTC+03:00],[.bh],"{'de': 'Bahrain', 'es': 'Bahrein', 'fr': 'Bahr...",BHD,0
19,BB,BRB,[BB],430.00,[],[1246],Bridgetown,BAR,"[{'code': 'BBD', 'name': 'Barbadian dollar', '...",Barbadian,...,52.0,285000,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.bb],"{'de': 'Barbados', 'es': 'Barbados', 'fr': 'Ba...",BBD,0
24,BM,BMU,"[BM, The Islands of Bermuda, The Bermudas, Som...",54.00,[],[1441],Hamilton,BER,"[{'code': 'BMD', 'name': 'Bermudian dollar', '...",Bermudian,...,60.0,61954,Americas,[],Northern America,[UTC-04:00],[.bm],"{'de': 'Bermuda', 'es': 'Bermudas', 'fr': 'Ber...",BMD,0
27,BQ,BES,"[BQ, Boneiru]",294.00,[],[5997],Kralendijk,None,"[{'code': 'USD', 'name': 'United States dollar...",Dutch,...,535.0,17408,Americas,[],Caribbean,[UTC-04:00],"[.an, .nl]","{'de': 'Bonaire, Sint Eustatius und Saba', 'es...",USD,0
30,BV,BVT,"[BV, Bouvetøya, Bouvet-øya]",49.00,[],[],,,"[{'code': 'NOK', 'name': 'Norwegian krone', 's...",,...,74.0,0,,[],,[UTC+01:00],[.bv],"{'de': 'Bouvetinsel', 'es': 'Isla Bouvet', 'fr...",NOK,0
32,IO,IOT,[IO],60.00,[],[246],Diego Garcia,,"[{'code': 'USD', 'name': 'United States dollar...",Indian,...,86.0,3000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+06:00],[.io],{'de': 'Britisches Territorium im Indischen Oz...,USD,0
33,UM,UMI,[UM],NaN,[],[],,,"[{'code': 'USD', 'name': 'United States Dollar...",American,...,581.0,300,Americas,[],Northern America,"[UTC-11:00, UTC-10:00, UTC+12:00]",[.us],{'de': 'Kleinere Inselbesitzungen der Vereinig...,USD,0
34,VG,VGB,[VG],151.00,[],[1284],Road Town,IVB,"[{'code': None, 'name': '[D]', 'symbol': '$'},...",Virgin Islander,...,92.0,28514,Americas,[],Caribbean,[UTC-04:00],[.vg],"{'de': 'Britische Jungferninseln', 'es': 'Isla...",None,0
35,VI,VIR,"[VI, USVI, American Virgin Islands, U.S. Virgi...",346.36,[],[1 340],Charlotte Amalie,ISV,"[{'code': 'USD', 'name': 'United States dollar...",Virgin Islander,...,850.0,114743,Americas,[],Caribbean,[UTC-04:00],[.vi],"{'de': 'Amerikanische Jungferninseln', 'es': '...",USD,0
43,CV,CPV,"[CV, Republic of Cabo Verde, República de Cabo...",4033.00,[],[238],Praia,CPV,"[{'code': 'CVE', 'name': 'Cape Verdean escudo'...",Cape Verdian,...,132.0,531239,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC-01:00],[.cv],"{'de': 'Kap Verde', 'es': 'Cabo Verde', 'fr': ...",CVE,0
44,KY,CYM,[KY],264.00,[],[1345],George Town,CAY,"[{'code': 'KYD', 'name': 'Cayman Islands dolla...",Caymanian,...,136.0,58238,Americas,[],Caribbean,[UTC-05:00],[.ky],"{'de': 'Kaimaninseln', 'es': 'Islas Caimán', '...",KYD,0
49,CX,CXR,"[CX, Territory of Christmas Island]",135.00,[],[61],Flying Fish Cove,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Christmas Island,...,162.0,2072,Oceania,[],Australia and New Zealand,[UTC+07:00],[.cx],"{'de': 'Weihnachtsinsel', 'es': 'Isla de Navid...",AUD,0
50,CC,CCK,"[CC, Territory of the Cocos (Keeling) Islands,...",14.00,[],[61],West Island,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Cocos Islander,...,166.0,550,Oceania,[],Australia and New Zealand,[UTC+06:30],[.cc],"{'de': 'Kokosinseln', 'es': 'Islas Cocos o Isl...",AUD,0
52,KM,COM,"[KM, Union of the Comoros, Union des Comores, ...",1862.00,[],[269],Moroni,COM,"[{'code': 'KMF', 'name': 'Comorian franc', 'sy...",Comoran,...,174.0,806153,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+03:00],[.km],"{'de': 'Union der Komoren', 'es': 'Comoras', '...",KMF,0
55,CK,COK,"[CK, Kūki 'Āirani]",236.00,[],[682],Avarua,COK,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Cook Islander,...,184.0,18100,Oceania,[],Polynesia,[UTC-10:00],[.ck],"{'de': 'Cookinseln', 'es': 'Islas Cook', 'fr':...",NZD,0
58,CU,CUB,"[CU, Republic of Cuba, República de Cuba]",109884.00,[],[53],Havana,CUB,"[{'code': 'CUC', 'name': 'Cuban convertible pe...",Cuban,...,192.0,11239004,Americas,[],Caribbean,[UTC-05:00],[.cu],"{'de': 'Kuba', 'es': 'Cuba', 'fr': 'Cuba', 'ja...",CUC,0
59,CW,CUW,"[CW, Curacao, Kòrsou, Country of Curaçao, Land...",444.00,[],[599],Willemstad,,"[{'code': 'ANG', 'name': 'Netherlands Antillea...",Dutch,...,531.0,154843,Americas,[],Caribbean,[UTC-04:00],[.cw],"{'de': 'Curaçao', 'es': None, 'fr': 'Curaçao',...",ANG,0
64,DM,DMA,"[DM, Dominique, Wai‘tu kubuli, Commonwealth of...",751.00,[],[1767],Roseau,DMA,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Dominican,...,212.0,71293,Americas,[],Caribbean,[UTC-04:00],[.dm],"{'de': 'Dominica', 'es': 'Dominica', 'fr': 'Do...",XCD,0
73,FK,FLK,"[FK, Islas Malvinas]",12173.00,[],[500],Stanley,,"[{'code': 'FKP', 'name': 'Falkland Islands pou...",Falkland Islander,...,238.0,2563,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-04:00],[.fk],"{'de': 'Falklandinseln', 'es': 'Islas Malvinas...",FKP,0
74,FO,FRO,"[FO, Føroyar, Færøerne]",1393.00,[],[298],Tórshavn,,"[{'code': 'DKK', 'name': 'Danish krone', 'symb...",Faroese,...,234.0,49376,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+00:00],[.fo],"{'de': 'Färöer-Inseln', 'es': 'Islas Faroe', '...",DKK,0
75,FJ,FJI,"[FJ, Viti, Republic of Fiji, Matanitu ko Viti,...",18272.00,[],[679],Suva,FIJ,"[{'code': 'FJD', 'name': 'Fijian dollar', 'sym...",Fijian,...,242.0,867000,Oceania,[],Melanesia,[UTC+12:00],[.fj],"{'de': 'Fidschi', 'es': 'Fiyi', 'fr': 'Fidji',...",FJD,0
79,PF,PYF,"[PF, Polynésie française, French Polynesia, Pō...",4167.00,[],[689],Papeetē,,"[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...",French Polynesian,...,258.0,271800,Oceania,[],Polynesia,"[UTC-10:00, UTC-09:30, UTC-09:00]",[.pf],"{'de': 'Französisch-Polynesien', 'es': 'Poline...",XPF,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NZ,NZL,"[NZ, Aotearoa]",270467.00,[],[64],Wellington,NZL,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",New Zealander,...,554.0,4697854,Oceania,[],Australia and New Zealand,"[UTC-11:00, UTC-10:00, UTC+12:00, UTC+12:45, U...",[.nz],"{'de': 'Neuseeland', 'es': 'Nueva Zelanda', 'f...",NZD,0
163,NU,NIU,[NU],260.00,[],[683],Alofi,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Niuean,...,570.0,1470,Oceania,[],Polynesia,[UTC-11:00],[.nu],"{'de': 'Niue', 'es': 'Niue', 'fr': 'Niue', 'ja...",NZD,0
164,NF,NFK,"[NF, Territory of Norfolk Island, Teratri of N...",36.00,[],[672],Kingston,,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Norfolk Islander,...,574.0,2302,Oceania,[],Australia and New Zealand,[UTC+11:30],[.nf],"{'de': 'Norfolkinsel', 'es': 'Isla de Norfolk'...",AUD,0
166,MP,MNP,"[MP, Commonwealth of the Northern Mariana Isla...",464.00,[],[1670],Saipan,,"[{'code': 'USD', 'name': 'United States dollar...",American,...,580.0,56940,Oceania,[],Micronesia,[UTC+10:00],[.mp],"{'de': 'Nördliche Marianen', 'es': 'Islas Mari...",USD,0
170,PW,PLW,"[PW, Republic of Palau, Beluu er a Belau]",459.00,[],[680],Ngerulmud,PLW,"[{'code': '(none)', 'name': '[E]', 'symbol': '...",Palauan,...,585.0,17950,Oceania,[],Micronesia,[UTC+09:00],[.pw],"{'de': 'Palau', 'es': 'Palau', 'fr': 'Palaos',...",(none),0
176,PH,PHL,"[PH, Republic of the Philippines, Repúblika ng...",342353.00,[],[63],Manila,PHI,"[{'code': 'PHP', 'name': 'Philippine peso', 's...",Filipino,...,608.0,103279800,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+08:00],[.ph],"{'de': 'Philippinen', 'es': 'Filipinas', 'fr':...",PHP,0
177,PN,PCN,"[PN, Pitcairn Henderson Ducie and Oeno Islands]",47.00,[],[64],Adamstown,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Pitcairn Islander,...,612.0,56,Oceania,[],Polynesia,[UTC-08:00],[.pn],"{'de': 'Pitcairn', 'es': 'Islas Pitcairn', 'fr...",NZD,0
180,PR,PRI,"[PR, Commonwealth of Puerto Rico, Estado Libre...",8870.00,[],"[1787, 1939]",San Juan,PUR,"[{'code': 'USD', 'name': 'United States dollar...",Puerto Rican,...,630.0,3474182,Americas,[],Caribbean,[UTC-04:00],[.pr],"{'de': 'Puerto Rico', 'es': 'Puerto Rico', 'fr...",USD,0
183,RE,REU,"[RE, Reunion]",NaN,[],[262],Saint-Denis,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",French,...,638.0,840974,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+04:00],[.re],"{'de': 'Réunion', 'es': 'Reunión', 'fr': 'Réun...",EUR,0
187,BL,BLM,"[BL, St. Barthelemy, Collectivity of Saint Bar...",21.00,[],[590],Gustavia,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Saint Barthélemy Islander,...,652.0,9417,Americas,[],Caribbean,[UTC-04:00],[.bl],"{'de': 'Saint-Barthélemy', 'es': 'San Bartolom...",EUR,0
188,SH,SHN,[SH],NaN,[],[290],Jamestown,None,"[{'code': 'SHP', 'name': 'Saint Helena pound',...",Saint Helenian,...,654.0,4255,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Western Africa,[UTC+00:00],[.sh],"{'de': 'Sankt Helena', 'es': 'Santa Helena', '...",SHP,0
189,KN,KNA,"[KN, Federation of Saint Christopher and Nevis]",261.00,[],[1869],Basseterre,SKN,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Kittian and Nevisian,...,659.0,46204,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.kn],"{'de': 'St. Kitts und Nevis', 'es': 'San Crist...",XCD,0
190,LC,LCA,[LC],616.00,[],[1758],Castries,LCA,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Saint Lucian,...,662.0,186000,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.lc],"{'de': 'Saint Lucia', 'es': 'Santa Lucía', 'fr...",XCD,0
192,PM,SPM,"[PM, Collectivité territoriale de Saint-Pierre...",242.00,[],[508],Saint-Pierre,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",French,...,666.0,6069,Americas,[],Northern America,[UTC-03:00],[.pm],"{'de': 'Saint-Pierre und Miquelon', 'es': 'San...",EUR,0
193,VC,VCT,[VC],389.00,[],[1784],Kingstown,VIN,"[{'code': 'XCD', 'name': 'East Caribbean dolla...",Saint Vincentian,...,670.0,109991,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.vc],"{'de': 'Saint Vincent und die Grenadinen', 'es...",XCD,0
194,WS,WSM,"[WS, Independent State of Samoa, Malo Saʻoloto...",2842.00,[],[685],Apia,SAM,"[{'code': 'WST', 'name': 'Samoan tālā', 'symbo...",Samoan,...,882.0,194899,Oceania,[],Polynesia,[UTC+13:00],[.ws],"{'de': 'Samoa', 'es': 'Samoa', 'fr': 'Samoa', ...",WST,0
196,ST,STP,"[ST, Democratic Republic of São Tomé and Prínc...",964.00,[],[239],São Tomé,STP,"[{'code': 'STD', 'name': 'São Tomé and Príncip...",Sao Tomean,...,678.0,187356,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Middle Africa,[UTC],[.st],"{'de': 'São Tomé und Príncipe', 'es': 'Santo T...",STD,0
200,SC,SYC,"[SC, Republic of Seychelles, Repiblik Sesel, R...",452.00,[],[248],Victoria,SEY,"[{'code': 'SCR', 'name': 'Seychellois rupee', ...",Seychellois,...,690.0,91400,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Eastern Africa,[UTC+04:00],[.sc],"{'de': 'Seychellen', 'es': 'Seychelles', 'fr':...",SCR,0
202,SG,SGP,"[SG, Singapura, Republik Singapura, 新加坡共和国]",710.00,[],[65],Singapore,SIN,"[{'code': 'BND', 'name': 'Brunei dollar', 'sym...",Singaporean,...,702.0,5535000,Asia,"[{'acronym': 'ASEAN', 'name': 'Association of ...",South-Eastern Asia,[UTC+08:00],[.sg],"{'de': 'Singapur', 'es': 'Singapur', 'fr': 'Si...",BND,0
206,SB,SLB,[SB],28896.00,[],[677],Honiara,SOL,"[{'code': 'SBD', 'name': 'Solomon Islands doll...",Solomon Islander,...,90.0,642000,Oceania,[],Melanesia,[UTC+11:00],[.sb],"{'de': 'Salomonen', 'es': 'Islas Salomón', 'fr...",SBD,0
209,GS,SGS,"[GS, South Georgia and the South Sandwich Isla...",NaN,[],[500],King Edward Point,,"[{'code': 'GBP', 'name': 'British pound', 'sym...",South Georgia and the South Sandwich Islander,...,239.0,30,Americas,"[{'acronym': 'USAN', 'name': 'Union of South A...",South America,[UTC-02:00],[.gs],{'de': 'Südgeorgien und die Südlichen Sandwich...,GBP,0
216,SJ,SJM,"[SJ, Svalbard and Jan Mayen Islands]",NaN,[],[4779],Longyearbyen,,"[{'code': 'NOK', 'name': 'Norwegian krone', 's...",Norwegian,...,744.0,2562,Europe,[],Northern Europe,[UTC+01:00],[.sj],"{'de': 'Svalbard und Jan Mayen', 'es': 'Islas ...",NOK,0
221,TW,TWN,"[TW, Táiwān, Republic of China, 中華民國, Zhōnghuá...",36193.00,[],[886],Taipei,TPE,"[{'code': 'TWD', 'name': 'New Taiwan dollar', ...",Taiwanese,...,158.0,23503349,Asia,[],Eastern Asia,[UTC+08:00],[.tw],"{'de': 'Taiwan', 'es': 'Taiwán', 'fr': 'Taïwan...",TWD,0
227,TK,TKL,[TK],12.00,[],[690],Fakaofo,,"[{'code': 'NZD', 'name': 'New Zealand dollar',...",Tokelauan,...,772.0,1411,Oceania,[],Polynesia,[UTC+13:00],[.tk],"{'de': 'Tokelau', 'es': 'Islas Tokelau', 'fr':...",NZD,0
228,TO,TON,[TO],747.00,[],[676],Nuku'alofa,TGA,"[{'code': 'TOP', 'name': 'Tongan paʻanga', 'sy...",Tongan,...,776.0,103252,Oceania,[],Polynesia,[UTC+13:00],[.to],"{'de': 'Tonga', 'es': 'Tonga', 'fr': 'Tonga', ...",TOP,0
229,TT,TTO,"[TT, Republic of Trinidad and Tobago]",5130.00,[],[1868],Port of Spain,TTO,"[{'code': 'TTD', 'name': 'Trinidad and Tobago ...",Trinidadian,...,780.0,1349667,Americas,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",Caribbean,[UTC-04:00],[.tt],"{'de': 'Trinidad und Tobago', 'es': 'Trinidad ...",TTD,0
233,TC,TCA,[TC],948.00,[],[1649],Cockburn Town,,"[{'code': 'USD', 'name': 'United States dollar...",Turks and Caicos Islander,...,796.0,31458,Americas,[],Caribbean,[UTC-04:00],[.tc],"{'de': 'Turks- und Caicosinseln', 'es': 'Islas...",USD,0
234,TV,TUV,[TV],26.00,[],[688],Funafuti,TUV,"[{'code': 'AUD', 'name': 'Australian dollar', ...",Tuvaluan,...,798.0,10640,Oceania,[],Polynesia,[UTC+12:00],[.tv],"{'de': 'Tuvalu', 'es': 'Tuvalu', 'fr': 'Tuvalu...",AUD,0
242,VU,VUT,"[VU, Republic of Vanuatu, Ripablik blong Vanua...",12189.00,[],[678],Port Vila,VAN,"[{'code': 'VUV', 'name': 'Vanuatu vatu', 'symb...",Ni-Vanuatu,...,548.0,277500,Oceania,[],Melanesia,[UTC+11:00],[.vu],"{'de': 'Vanuatu', 'es': 'Vanuatu', 'fr': 'Vanu...",VUV,0
245,WF,WLF,"[WF, Territory of the Wallis and Futuna Island...",142.00,[],[681],Mata-Utu,,"[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...",Wallis and Futuna Islander,...,876.0,11750,Oceania,[],Polynesia,[UTC+12:00],[.wf],"{'de': 'Wallis und Futuna', 'es': 'Wallis y Fu...",XPF,0

In [6]:
def get_max_population_country(g):
     return g.loc[g['population'] == g['population'].max(), ['name','population']]

In [7]:
cdf.groupby('region').apply(get_max_population_country)

                                           name  population
region
         30                       Bouvet Island           0
         98   Heard Island and McDonald Islands           0
Africa   162                            Nigeria   186988000
Americas 239           United States of America   323947000
Asia     48                               China  1377422166
Europe   185                 Russian Federation   146599183
Oceania  13                           Australia    24117360
Polar    8                           Antarctica        1000