In [4]:
import pandas as pd
import numpy as np
import sqlite3

In [18]:
# create a dataframe
df = pd.DataFrame({'rollno' : np.linspace(101,105,5,dtype='int32'), 'java': np.random.randint(50,100,5), 'python' : np.random.randint(50,100,5)})

In [20]:
df

   rollno  java  python
0     101    71      65
1     102    82      60
2     103    81      74
3     104    56      50
4     105    57      99

In [30]:
# create a connection to database
con = sqlite3.connect("marks.db")

In [31]:
# Write DataFrame to Database 
df.to_sql("marks",con,index=False,if_exists="replace")

In [32]:
con.close()

In [35]:
# Read data from MARKS table using SQL
con = sqlite3.connect("marks.db")
cur = con.cursor()
cur.execute("select * from marks")
for row in cur.fetchall():
     print(row)
con.close()

(101, 71, 65)
(102, 82, 60)
(103, 81, 74)
(104, 56, 50)
(105, 57, 99)

In [42]:
# Read data from MARKS table into Pandas DataFrame
con = sqlite3.connect("marks.db")
marks = pd.read_sql("select * from marks",con,index_col="rollno")
con.close()

In [43]:
marks

        java  python
rollno
101       71      65
102       82      60
103       81      74
104       56      50
105       57      99