In [2]:
import pandas as pd
import requests
resp = requests.get("https://restcountries.eu/rest/v2/all")
cdf = pd.read_json(resp.text)

In [4]:
cdf.loc [cdf['population'] > 100000000 , ['name','population'] ]

                         name  population
18                 Bangladesh   161006790
31                     Brazil   206135893
48                      China  1377422166
104                     India  1295210000
105                 Indonesia   258705000
114                     Japan   126960000
144                    Mexico   122273473
162                   Nigeria   186988000
169                  Pakistan   194125062
176               Philippines   103279800
185        Russian Federation   146599183
239  United States of America   323947000

In [5]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB